* {
  box-sizing: border-box;
}
/*body {
  max-width: 100%;
  overflow-x: hidden;
}*/
div.col {
  text-align: justify;
}
.inner {
  background-color: #d5e8d4;
}

/*mobile*/
@media (max-width: 767px) {
  .nav-link {
    visibility: visible;
  }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    visibility: hidden;
  }
}

/*desktop*/
@media (min-width: 992px) {
  .nav-link {
    visibility: hidden;
  }
}