body {
    box-sizing: border-box;
    margin: 0%;
}
img, .card-img, .card-img-top {
    width: 200px;
    height: 200px;
}
.card-body {
    width: 200px;
}
.navbar {
    background-color: lavender;
}
